/* Reset CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Gererics */
body{
    font-family: sans-serif;
    background-color:#181818;
}

/* Utils */
.container{
    max-width: 1200;
    margin: 0 auto;
}
header{
    background-color: black;
    height: 40px;
    color: white;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.navbar-buttons >*{
    background-color: rgba(227,227,227,0.3);
    border-radius: 8%;
    font-weight: lighter;
    font-style: normal;
    font-size: 10px;
    padding: 3px 6px;
    display: inline;
}
