/* Reset CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Gererics */
body{
    font-family: sans-serif;
    background-color: black;
}
main{
    overflow-y: auto;
    height: calc(100vh - 110px);
    color: white;
    margin: 30px auto;
} 
/* .border{
    border: 2px dashed white;
} */

/* Utils */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header{
    background-color: #181818;
    height: 40px;
    color: white;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.navbar-buttons >*{
    background-color: rgba(227,227,227,0.3);
    border-radius: 8%;
    font-weight: lighter;
    font-style: normal;
    font-size: 10px;
    padding: 3px 6px;
    display: inline;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


}
.col{
    flex-basis: calc(100%/7);
    position: relative;
    

}
.user img{
    background-size: cover;
    background-repeat: no-repeat;
    padding: 5px 2px;
    height: 120px;
    width: 167px;
}


.user-name h5{
    padding: 3px 2px;
    position: absolute;
    bottom: 14px;
    left: 4px;
    background-color: rgba(227,227,227,0.3);
    border-radius: 3px;
    display: inline-block;  
}



footer{
    background-color: #181818 ;
    height: 70px;
}